<html>
<head>

</head>
<body>
    <h1>La réglementation du centre d'enrichissement exige que vous ayez les mains vides avant d'avoir du gâteau.</h1>
    <h2>Ingrédients pour 6 personnes :</h2>
    <p>
- 200g de chocolat pâtissier<br>
- 100g de beurre + une noix pour le moule<br>
- 50g de farine<br>
- 100g de sucre en poudre<br>
- 3 oeufs<br>
    </p>
    <h2>Ustensiles :</h2>
    <p>
- 1 grille à pâtisserie<br>
- 1 moule à manqué<br>
- 1 four<br>
- 1 casserole<br>
    </p>
    <h2>Préparation :</h2>
    <p>
<h3>Etape 1</h3>
Préchauffez votre four à 180°C (thermostat 6). Dans une casserole, faites fondre le chocolat et le beurre coupé en morceaux à feu très doux.
<h3>Etape 2</h3>
Dans un saladier, ajoutez le sucre, les oeufs, la farine. Mélangez.
<h3>Etape 3</h3>
Ajoutez le mélange chocolat/beurre. Mélangez bien.
<h3>Etape 4</h3>
Beurrez à l'aide d'une feuille de papier essuie-tout et farinez votre moule puis y versez la pâte à gâteau.
<h3>Etape 5</h3>
Faites cuire au four environ 20 minutes. 
<h3>Etape 6</h3>
A la sortie du four le gâteau ne paraît pas assez cuit. C'est normal, laissez-le refroidir puis démoulez- le.
    </p>
    <a href="/?lang=bzh">et en breton ?</a>
</body>