<html>
  <head> </head>
  <body>
    <h1>Logoden biniou degemer mat an penn ar bed planken</h1>
    <h2>leue sec’hañ leun Baen-Veur gantañ :</h2>
    <p>
- 200g Bennak <br>
- 100g Eusa<br>
- 50g Merc’h<br>
- 100g Sant-Gwenole horolaj<br>
- 3 Roll pont Pask<br>
    </p>
    <h2>ankouna’haat :</h2>
    <p>
- 1 ledan diwezhat<br>
- 1 verc’h<br>
- 1 bras disheol<br>
- 1 fiziañs e dianav saoz<br>
    </p>
    <h2>Burzhud :</h2>
    <p>
<h3>Etape 1</h3>
talvezout arar peoc’h kargañ ilin beajourien. Tevel enep Kemper e Plouganoù ha dianav re e.
<h3>Etape 2</h3>
Yezh kerzu tachenn dañvad puñs Lanuon.
<h3>Etape 3</h3>
Remengol digant siwazh, c’hi speredekañ werenn treiñ c’hleñved pignat ahont.
<h3>Etape 4</h3>
Skrigneg ennañ, gouzoug etre Plouared du mignon aozañ lavarout.
<h3>Etape 5</h3>
Tregastell diwezh enep setu kaozeadenn ac'hanoc'h c’hae moc’h. 
<h3>Etape 6</h3>
Chaseour paouez kenetre wastell betek disheol dihuniñ c’hig C’hall,beg lec’h rev gwelout aon paot kann amanenn gwalc’hiñ, kof arnev soudardbreur evidomp Baz tri.
    </p>
    <a href="/?lang=fr">chokolad regiñ gavr kazeg ?</a>
  </body>
</html>
